@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Montserrat", sans-serif;
}

.drawer-side a.active {
    color: white;
}
.drawer-side a {
    background-color: transparent;
}
